html, body {
    width: 100%;
    font-family: 'Exo2.0', Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
    line-height: 1.42;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button {
    outline: none;
}

:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
    @include tablet {
        font-size: 13px; 
    }
    @include phone {
        font-size: 12px;
    }
}
input, textarea {
    box-sizing: border-box;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
    border-color: black !important;
}
.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}
.container {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}
.title {
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 40px;
    @include tablet() {
        font-size: 36px;
    }
    @include phone() {
        font-size: 26px;
    }
}

.up {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: $yellows;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    position: fixed;
    right: 20px;
    bottom: 100px;
    cursor: pointer;
    visibility: hidden;
    transition: .5s;
    @include laptop-lg() {
        height: 45px;
        width: 45px;
        right: 15px;
    }
    @include laptop() {
        right: 10px;
    }
    @include tablet() {
        height: 35px;
        width: 35px;
    }
    @include phone() {
        height: 25px;
        width: 25px;
        right: 5px;
    }
    &:hover {
        transform: scale(1.2);
    }
    &-icon {
        width: 80%;
        height: 80%;
    }
}
