html, body {
    width: 100%;
    font-family: 'san-francisco', Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
p {
    margin: 0px;
    line-height: 1.42;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
button {
    outline: none;
}

:root {
    font-size: 15px;
    @include laptop {
        font-size: 14px;
    }
    @include tablet {
        font-size: 13px; 
    }
    @include phone {
        font-size: 12px;
    }
}
input, textarea {
    box-sizing: border-box;
}
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px white inset;
    border-color: black !important;
}
.wrapper {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}
.container {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}
.title {
    font-family: 'opensans', Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
    font-size: 36px;
    text-align: center;
    &--main {
        margin-bottom: 40px;
        text-align: left;
        font-size: 40px;
        @include tablet() {
            font-size: 36px;
        }
        @include phone() {
            font-size: 26px;
        }
    }
    &--about {
        z-index: 100;
        position: relative;
        @include tablet() {
            font-size: 28px;
            width: 85%;
            margin: 0 auto 40px;
        }
        @include phone() {
            font-size: 22px;
        }
    }
    &--services {
        font-size: 44px;
        z-index: 100;
        position: relative;
        @include phone() {
            font-size: 36px;
            margin-bottom: 40px;
        }
    }
}

.bg-text {
    font-size: 120px;
    font-weight: bold;
    position: absolute;
    color: $yellows;
    opacity: .4;
    white-space: nowrap;
    font-family: 'opensans', Helvetica, sans-serif;
    @include laptop() {
        display: none;
    }
    &--about {
        top: 100%;
        right: -200%;
        animation: moveToLeft 35s linear infinite;
    }
    &--services {
        z-index: 50;
        top: 0;
        left: -200%;
        animation: moveToRight 38s linear infinite;
    }
}