.footer {
    background: #1C1C1C;
    padding: 30px 0;
    &__list {
        display: flex;
        justify-content: space-between;
        @include laptop() {
            height: 200px;
            display: block;
        }
        @include phone() {
            display: flex;
            flex-flow: column;
            height: auto;
        }
    }
    &__item {
        color: white;
        width: 30%;
        margin-right: 20px;
        @include phone() {
            width: 100%;
            margin-bottom: 20px;
        }
        &:first-child {
            @include laptop() {
                float: left;
            }
        }
        &:nth-child(2) {
            flex: 1;
            @include laptop() {
                width: 42%;
                float: right;
                margin-bottom: 20px;
                margin-right: 0;
            }
            @include tablet() {
                width: 45%;
            }
            @include phone() {
                width: 100%;
                min-height: 50px;
            }
        }
        &:last-child {
            margin-right: 0;
            @include laptop() {
                width: 35%;
                float: right;
            }
            @include tablet() {
                width: 55%;
            }
            @include phone() {
                width: 100%;
            }
        }
        &-title {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: relative;
            letter-spacing: 1px;
            &::after {
                content: '';
                display: block;
                width: 65px;
                height: 1px;
                background: white;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &-address {
            max-width: 200px;
            line-height: 1.42;
            margin-bottom: 20px;
        }
        &-phone {
            font-size: 18px;
            margin-bottom: 10px;
        }
        &-time {
            font-size: 14px;
        }
    }
}