.popup {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    display: none;
    transition: .8s;
    justify-content: center;
    &__container {
        display: flex;
        margin-top: 40px;
        position: relative;
        animation: show .8s;
        max-height: 470px;
        @include tablet() {
            flex-flow: column;
            margin-top: 20px;
            max-height: 800px;
        }
        @include phone() {
            width: 85%;
        }
    }
    &__part {
        padding: 20px;
        width: 330px;
        max-height: 430px;
        display: flex;
        flex-flow: column;
        align-items: center;
        @include tablet() {
            padding-bottom: 5px;
        }
        @include phone() {
            padding: 20px 0 0;
            width: 100%;
        }
        &--left {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: grey;
            @include tablet() {
                border-top-right-radius: 5px;
                border-bottom-left-radius: 0;
            }
        }
        &--right {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #efefef;
            @include tablet() {
                min-height: 380px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 5px;
            }
        }
    }
    &__title {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        @include tablet() {
            min-height: 60px;
            margin-bottom: 20px;
        }
        @include phone() {
            font-size: 16px;
            padding: 0 5px;
        }
    }
    &__rules {
        padding: 0 5px;
        width: 100%;
        opacity: .6;
        font-weight: bold;
    }
    &__exit {
        display: block;
        width: 3px;
        height: 20px;
        transform: rotate(45deg);
        background: black;
        transition: .3s;
        position: relative;
        @include tablet() {
            background: white;
        }
        &::before {
            content: '';
            display: block;
            width: 3px;
            height: 20px;
            transform: rotate(-90deg);
            background: black;
            position: absolute;
            @include tablet() {
                background: white;
            }
        }
        &-link {
            display: block;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover .popup__exit {
                transform: rotate(135deg);
            }
        }
    }
}

@keyframes show {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}