.socials {
    display: flex;
    align-items: flex-end;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
    & .socials__item:first-child a img {
        height: 20px;
    }
    & .socials__item:last-child a img {
        height: 20px;
    }
    &__link {
        display: block;
        &:hover {
            background: #1C1C1C;
            opacity: .5;
        }
    }
    &__icon {
        height: 30px;
    }
}